<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">
<web-app>
	<servlet>
		<servlet-name>Middleman</servlet-name>
		<display-name>Middleman</display-name>
		<servlet-class>com.totalchange.jiffy.FlashMiddlemanServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Flashback</servlet-name>
		<display-name>Flashback</display-name>
		<servlet-class>com.totalchange.jiffy.FlashbackServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Middleman</servlet-name>
		<url-pattern>/middleman</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Flashback</servlet-name>
		<url-pattern>/flashback</url-pattern>
	</servlet-mapping>
</web-app>
