<!DOCTYPE web-app 
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <servlet>
    <servlet-name>Sketchingout</servlet-name>
    <servlet-class>com.totalchange.sketchingout.SketchingoutServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Drawer</servlet-name>
    <servlet-class>com.totalchange.sketchingout.DrawingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Sketchingout</servlet-name>
    <url-pattern>/sketchingout</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Drawer</servlet-name>
    <url-pattern>/drawing</url-pattern>
  </servlet-mapping>

</web-app>